<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <display-name>SOAP Web Services</display-name>
    
    <servlet>
        <servlet-name>MovieServiceServlet</servlet-name>
        <servlet-class>org.lovesoa.calledsoap.MovieSoapEndpoint</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MovieServiceServlet</servlet-name>
        <url-pattern>/MovieService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AuthServiceServlet</servlet-name>
        <servlet-class>org.lovesoa.calledsoap.AuthSoapEndpoint</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AuthServiceServlet</servlet-name>
        <url-pattern>/AuthService</url-pattern>
    </servlet-mapping>
    
</web-app>
